<head>
  <meta charset="UTF-8">

  <% if(page.title){ %>
  <title>
    <%=page.title%> |
    <%=config.title%>
  </title>
  <% } else{ %>
  <title>
    <%=config.title%> -
    <%=config.description%>
  </title>
  <% } %>


  <meta name="description" content="<%=page.summary || config.description%>">
  <meta name="author" content="<%=config.author%>">
  <meta property="og:title" content="<%=page.title || config.title%>" />
  <meta property="og:description" content="<%=page.summary || config.description%>" />
  <meta property='og:site_name' content='<%=config.title%>' />
  <meta property="og:image" content="<%=config.url%>/<%=page.featured_open_graph || theme.meta.open_graph.featured_image%>" />
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:description" content="<%=page.summary || config.description%>" />
  <meta name="twitter:title" content="<%=page.title || config.title%>" />

  <meta name="twitter:image" content="<%=config.url%>/<%=page.featured_twitter || theme.meta.twitter.featured_image || page.featured_open_graph || theme.meta.open_graph.featured_image%>" />

  <script data-ad-client="ca-pub-1400734458871502" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script src="./js/coreandchart.js"> </script>
  <script src="./js/themes/animated.js"> </script>

  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz"
    crossorigin="anonymous">
  <%- css('/css/style.css') %>

</head>
